body{
		width:100vw;
		height:100vh;
		font-family:serif;
		background-color:#1e1e1e;
		color:white;
	}
	*{
		padding:0px;
		margin:0px;
	}
	#navbar{
		width:100vw;
		height:10vh;
		border:1px black;
		box-shadow:0px 0px 2px grey;
		background-color:white;
		color:black;
	}
	#list{
		display:flex;
		list-style-type:none;
		font-size:30px;
		float:left;
	}
	#comp{
		position:relative;
		margin-left:2vw;
	}

	.nav1{
		position:relative;
		left:45vw;
		top:3vh;
		font-size:20px;
		margin-left:2vw;
	}
	#button{
		font-size:16px;
		position:relative;
		width:5vw;
		height:5vh;
		background-color:white;
		left:47vw;
		top:2vh;
		border-radius:5px;
		color:blue;
		border:1px solid blue;
		font-weight:normal;
	}
	.nav1:hover
	{
		text-decoration:underline;
		cursor:pointer;
	}
	#button:hover
	{
		background-color:blue;
		color:white;
	}
	#head{
		font-size:50px;
		font-weight:normal;
		position:absolute;
		top:15vh;
		left:40vw;
		color:#0000fd;
		font-weight:skyblue;
	}
	#offer{
		font-size:24px;
		position:absolute;
		top:27vh;
		left:22vw;
	}
	#bigscreen{
	width:100%;
	height:100vh;
	background-color:rgba(0, 0, 0, 0.8);
	position:fixed;
	z-index:3;
	top:0;
	left:0;
	display:flex;
	align-items:center;
	}
	#priceform{
		width:30vw;
		height:50vh;
		position:absolute;
		top:20vh;
		left:30vw;
		background-image:linear-gradient(blue, white);
		border-radius:20px;
		border:2px solid blue;
	}
	#i{
		position:absolute;
		top:8vh;
		left:40vw;
	}
	#name, #email, #comment, #sub{
		font-size:25px;
	}
	#sec{
		display:flex;
		position:absolute;
		top:40vh;
		left:3vw;
	}
	#d1, #d2, #d3, #d4{
		width:20vw;
		height:50vh;
		border:1px solid #d3d3d3;
		margin:20px;
		border-radius:5px;
	}
	.h{
		
		font-size:30px;
		margin-top:4vh;
	}
	.ha{
		font-size:40px;
	}
	.mo{
		
		font-size:30px;
	}
	.sli{
		color:#999999;
		font-size:20px;
	}
	.pa{
		font-size:20px;
	}
	.bu{
		font-size:25px;
		width:17vw;
		height:8vh;
		border-radius:10px;
		border:1px solid blue;
		background-color:blue;
		color:white;
	}
	#in, #sub{
		background-color:white;
		color:blue;
		border-color:blue;
		border-radius:10px;
	}
	#in:hover 
	{
		background-color:blue;
		color:white;
		border-color:white;
	}
	#sub:hover 
	{
		background-color:blue;
		color:white;
	}
	#img{
		width:6vw;
		height:6vh;
	}
	
	#un1, #un2, #un3{
		
		list-style-type:none;
	}
	.sli:hover{
		text-decoration:underline;
		cursor:pointer;
	}
	#sec1{
		display:flex;
		width:90vw;
		height:50vh;
		position:absolute;
		top:110vh;
		left:5vw;
		padding-left:4vw;
	}
	.d{
		width:20vw;
		height:30vh;
	}
	#mark{
		color:white;
		background-color:blue;
		width:10vw;
		height:6vh;
		border-radius:20px;
		text-transform:capitalize;
	}